.post {
    border-style: solid;
    text-align: center;
}
.everything {
    text-align: center;
}
.container {
    height: 100px;
    position: relative;
    border: 3px solid green;
    background-color: ;
  }
.center {
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }